include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('arrow-narrow-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('arrow-narrow-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11

	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти")
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin asideContent()
	+b.aside-block--js
		+e.logo(href="/")
			+img('img/svg/main-logo.svg')
		//- +asideMnu()
		nav
			ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
				mixin menu-item(t, i, l = '#')
					li.menu-item(itemprop="item" )&attributes(attributes)
						a(href= `${l}` itemprop="url")!= t
							+icon(`${i}`)
				+menu-item(`Главная`, `home`)
				+menu-item(`Профессии`, `click`)
				+menu-item(`Статьи`, `news`).d-none.d-sm-block
				+menu-item(`Советы`, `tooltip`).d-none.d-sm-block
				+menu-item(`Квалификация`, `rocket`).d-none.d-sm-block
				+menu-item(`Обучение`, `bank`)
				+menu-item(`О нас`, `info-circle`)
		+e.help.menu-item
			a(href="#") Помощь
				+icon('messages')

mixin mentorHelp()
	+b.mentorHelp
		h3 Попроси помощи у&nbsp;ментора
		p Наш специалист поможет вам подобрать профессию исходя из&nbsp;качеств и&nbsp;особенностей вашей личности
		+e.btn.btn.btn-white(href="#") Написать ментору
		+img('img/mentorHelp.png')

mixin section-title-arrows(t, l)
	+b.section-title
		+e.row.row
			.col
				h2!= t
			.col-auto
				if l
					+e.link-more(href="#")
						+icon('arrow-narrow-right')
				else
					.arrow-wrap
						+arrow()


mixin professionProp(t, bg)
	.col-auto
		+e.property(style=`--propBg:${bg}`)!= t

mixin professionItem(h, t)
	+b.profession-item(href="#")
		+e.head
			h3!= h
			p!= t
		+e.row.row
			if block
				block
			else
				+professionProp(`Активность`, `var(--bs-teal)`)
				+professionProp(`Вежливость`, `var(--bs-pink)`)
				+professionProp(`Дисциплинированность`, `var(--bs-cyan)`)
				+professionProp(`+2`, `var(--bs-dark)`)

mixin institutionItem(i, h, t)
	+b.institution-item(href="#")
		+e.img-wrap
			.img-wrap-center 
				+img(`img/institution-${i}.png`)
		+e.content
			+e.head
				h3!= h
				p!= t
			+e.footer
				span 25&nbsp;профессий
				+e.demanded 3&nbsp;востребованных

mixin adviseItem(t, p)
	+b.adviseItem(href="#")
		+e.wrap
			p!= t
		+e.footer
			span!= p
			+e.more Подробнее...

mixin articleItem(img, h, lg = false)
	+b.articleItem(href="#" class=(lg ? '--lg' : ''))
		+e.img-wrap
			.img-wrap-center
				+img(`img/${img}`, lg ? 'bg' : '')
		+e.content
			.h3!= h
			//- a.h3(href="#")!= h
			span 15 января 2023

			
